*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
  }
  
  
  nav {
    width: 100%;
    height: 100px;
    background: #000;
  }
  
  .container {
    max-width:80%;
    height: 100px ;
    margin: auto;
    display: flex;
    margin: auto;   
    align-items: center;
    justify-content: space-between;
  }
  
  .logo-pojeck{
    width: 5vw;
    object-fit: contain;
    align-items: center;
  }
  
  .menu {
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .menu li{
    margin: 10px;
  }
  
  .menu li a{
    color: #fff;
    text-decoration: none;
  }
  
  .navbar-dark .navbar-nav a.nav-link {
    color: #ffffff;
    font-size: 1.1em;
  }
  .dropdown-menu {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border: none;
    border-radius: 0;
    padding: 0.7em;
  }
  @media only screen and (min-width: 992px) {
    .dropdown:hover .dropdown-menu {
      display: flex;
    }
    .dropdown-menu.show {
      display: flex;
    }
  }
  .dropdown-menu ul {
    list-style: none;
    padding: 0;
  }
  .dropdown-menu li .dropdown-item {
    color: gray;
    font-size: 1em;
    padding: 0.5em 1em;
  }
  .dropdown-menu li .dropdown-item:hover {
    background-color: #f1f1f1;
  }
  .dropdown-menu li:first-child a {
    font-weight: bold;
    font-size: 1.2em;
    text-transform: uppercase;
    color: #000000;
  }
  .dropdown-menu li:first-child a:hover {
    background-color: #f1f1f1;
  }
  @media only screen and (max-width: 992px) {
    .dropdown-menu.show {
      flex-wrap: wrap;
      max-height: 350px;
      overflow-y: scroll;
    }
  }
  @media only screen and (min-width: 992px) and (max-width: 1140px) {
    .dropdown:hover .dropdown-menu {
      width: 40vw;
      flex-wrap: wrap;
    }
}

.checkout{
    max-width: 960px;
    
    margin: 0 auto;
    padding: 5rem;
    display: flex;
    justify-content: flex-start;
}

.adddress1{
    max-width: 960px;
    position: absolute;
    top: 200px;
    left: 280px;
    margin: 0 auto;
    padding: 5rem;
    justify-content: flex-start;
}


.bv1{
    max-width: 960px;
    top: 600px;
    left: 280px;
    position: absolute;
    margin: 0 auto;
    padding: 5rem;
    justify-content: flex-start;
}




